#!/usr/bin/bash

#SBATCH --nodes=1
#SBATCH --output=%x.%a.out
#SBATCH --error=%x.%a.out
#SBATCH --exclusive
#SBATCH --partition={{ hpctests_partition }}
{%if hpctests_nodes is defined %}#SBATCH --nodelist={{ hpctests_computes.stdout_lines[0] }}{% endif %}

cd {{ hpctests_siesta_builddir }}
module load {{ hpctests_siesta_modules | join(' ' ) }}
ctest